html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 55rem;
  min-height: 55rem;
}

#jester-auth {
  padding: 2rem;
  width: 55rem;
  margin-left: auto;
  margin-right: auto;
}

#jester-auth > div > form {
  margin: auto;
  width: 20rem;
}

#jester-loading {
  font-size: 150%;
  margin: auto;
  width: 55rem;
  height: 55rem;
  text-align: center;
  line-height: 20em;
}

#jester-authed {
  width: 55rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#navbar {
  margin-left: 0.1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #d0d0d0;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);
}

#tab-about > h3 {
  margin: 4rem 2rem 2rem 2rem;
  color: #505050;
}

#tab-about > p {
  margin: 4rem 2rem 2rem 2rem;
  color: #656565;
}

#profiles-empty > p {
  margin: 6rem 2rem 2rem 2rem;
  color: #909090;
  text-align: center;
}

.alert-hidden {
  visibility: hidden;
}

.alert-top {
  display: table;
  width: 100%;
  height: 4em;
}

.alert-inner {
  display: table-cell;
  vertical-align: middle;
}

.panel-body > div.account-name {
  vertical-align: middle;
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1.2em;
  position: relative;
}

.panel-body > div.account-token {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-bottom: -1.5em;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 0.6em;
}

#addnew-username {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#addnew-password {
  border-radius: 0;
}

#addnew-setup {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-control-wrong-input {
  border-color: #e88266 !important;
  outline: 0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),
                    0 0 8px rgba(232,130,102,.6) !important;
}

div.list-group-item.disabled {
  color: red;
}
